nav ul {
  height: 200px;
  width: 40vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #F0F0F0;
  list-style-type: none;
  padding-left: 10px;
  border-radius: 5px;
}

nav ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

nav ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  border-radius: 5px ;
}

nav ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ddd;
}

nav ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li span {
  display: flex;
  align-items: center;
}

.color-bubble {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.list-item-info {
  width: 30%;
}

.list-item-name {
  font-size: calc(10px + 2vmin);
  padding-left: 10px;
}

.clipboard-button {
  float: right;
  border: 1px solid darkgray;
  width: fit-content;
  border-radius: 5px;
  font-family: 'Nunito-bold';
  padding: 5px 10px;
  cursor: pointer;
}

.time {
  font-size: calc(6px + 1vmin);
}