body {
  background-color: #031B26;
  font-family: 'Nunito-light';
}

@font-face {
  font-family: "Nunito-light";
  src: local("NunitoSans-Regular.ttf"), url("./fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito-bold";
  src: local("NunitoSans-Bold.ttf"), url("./fonts/NunitoSans-Bold.ttf");
}

.panel {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 520px;
  margin: 120px auto 20px;
}

.colors-list {
  display: flex;
  justify-content: center;
}